
<!-- bring in the template/shell html from base.html -->
{% extends "base.html" %} 
<!-- ensures the following is inserted in the block content section -->
{% block content %}
   
<!-- Jinja for loop populates the task manager, tasks is set in app.py get_tasks -->
 <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                {% if task.is_urgent == "on" %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                data-position="right" data-tooltip="URGENT!"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- always include and endblock -->
{% endblock %}
